@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;

<PageTitle>Dimitris Kalapodas</PageTitle>

<div class="page">
    <nav class="navbar">
        <div @onclick='() => NavigationManager.NavigateTo("/")' class="navbar-logo">DIMITRIS KALAPODAS</div>
        <div class="navbar-links">
            <a href="/" class="@IsActive("")">Home</a>
            <a href="/about-me" class="@IsActive("about-me")">About me</a>
            <a href="/3d-models" class="@IsActive("3d-models")">3D designs</a>
            <a href="/diy" class="@IsActive("diy")">DIY projects</a>
            <a href="/cv" class="@IsActive("cv")">CV</a>
            <a href="/contact" class="@IsActive("contact")">Contact</a>
        </div>
    </nav>
    
    <div class="content-wrapper">
        @Body
    </div>
</div>

@code {

    private string IsActive(string page)
    {
        var currentPage = NavigationManager.ToAbsoluteUri(NavigationManager.Uri).ToString().Split('/').Last();
        return currentPage.Equals(page, StringComparison.OrdinalIgnoreCase) ? "active" : "";
    }

}